
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: yellow;
    padding: 10px 20px;
}

.navbar .nav-link {
    color: black !important;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: rgb(255, 29, 29) !important;
}


.container {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #ff2828;
    border-bottom: 3px solid yellow;
    padding-bottom: 5px;
    text-align: center;
}

.quick-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.quick-links li {
    margin: 12px 0;
    text-align: center;
}

.quick-links a {
    text-decoration: none;
    color: #ff2828;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s;
}

.quick-links a:hover {
    text-decoration: underline;
    color: yellow;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .quick-links a {
        font-size: 16px;
    }
}
